// COLORS
$green: #1de1a7;
$blue: #02fffb;
$yellow: #ffed00;
$pink: #f41f94;
$white: #ffffff;
$gray: #f2f2f2;
$black: #000000;
$dark: #231f20;

// FONTS-SIZE
$h1: 72px;
$h2: 40px;
$h3: 34px;
$body: 18px;

// FONTS-FAMILY
// $title: "";





